.dark-screen
  
.content.slide-block.__shouldVerticallyCenter.__fadeIn
  %p.large-statement
    Design is how it works. Design is what it looks like. Design is it.

  %p.large-statement
    Design isn’t, however, a concrete component. Each thing isn’t the essence
    of 1/n-th part design – there is no discreet measure for this essential
    element of a thing. Rather, design permeates the form, function, intent,
    and feeling of any made thing – the gestalt.

  %p.large-statement
    The nature of design is process: from an existing state – to a preferred one.
    This shift is design. Exemplary artifacts of this process are those whose form
    and function are equivalent.
